@{
    ViewData["Title"] = "Privacy Policy";//ViewData["Title"] je bukv promenljiva, i dodeljuje joj se vrednost
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
